{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auth{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/fa.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body class="body light">
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-3 menu">
                    <button class="menu__link" id="mobile-menu">
                        <i class="fa-solid fa-bars menu__icon"></i>
                    </button>
                </div>
                <div class="col-6 logo text-center">
                    <a href="{% url 'my_auth:login' %}" class="logo__link">
                        <img src="{% static 'global/img/logo.png' %}" alt="logo" class="logo__img"/>
                    </a>
                </div>
                <div class="col-3 login">
                    {% if user.is_authenticated %}
                    <a href="{% url 'my_auth:logout' %}" class="login__link">
                        <img src="{% static 'global/img/logout.svg' %}" alt="login" class="fa-solid fa-arrow-right-to-bracket login__icon"/>
                    </a>
                    {% else %}
                    <a href="{% url 'my_auth:login' %}" class="login__link">
                        <img src="{% static 'global/img/login.svg' %}" alt="login" class="fa-solid fa-arrow-right-to-bracket login__icon"/>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="main">{% block content %}<h1>Auth</h1>{% endblock %}</main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 footer__icons">
                    <div class="footer__icon">
                        <a href="" class="footer__icon-link">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </div>
                    <div class="footer__icon">
                        <a href="" class="footer__icon-link">
                            <i class="fa-solid fa-comments"></i>
                        </a>
                    </div>
                    <div class="footer__icon">
                        <a href="" class="footer__icon-link">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>
                </div>

                <div class="col-12 footer__policy text-center">
                    <a href="" class="footer__policy-link">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="dd__menu" id="dd-menu">
        <div class="dd__menu-top">
            <div class="theme-switcher" id="theme-switcher">
                <div class="theme-switcher__inner" id="theme-switcher-inner">
                    <div class="theme-switcher__light">
                        <i class="fa-regular fa-sun theme-switcher__icon-light"></i>
                    </div>
                    <div class="theme-switcher__center"></div>
                    <div class="theme-switcher__dark">
                        <i class="fa-regular fa-moon theme-switcher__icon-dark"></i>
                    </div>
                </div>
            </div>
            <div class="dd__menu-close">
                <button class="dd__menu-close-link" id="mobile-menu-close">
                    <i class="fa-regular fa-circle-xmark dd__menu-close-icon"></i>
                </button>
            </div>
        </div>
        <ul class="dd__menu-list">
            <li class="dd__menu-item"><a href="#" class="dd__menu-link">Знакомства</a></li>
            <li class="dd__menu-item"><a href="#" class="dd__menu-link">Форум</a></li>
            <li class="dd__menu-item"><a href="#" class="dd__menu-link">Информация</a></li>
        </ul>
    </div>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jq/jq.js' %}"></script>
    <script src="{% static 'global/js/scripts.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>