{% extends 'my_auth/base.html' %}
{% load static %}

{% block title %}Войти в приложение{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'my_auth/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'my_auth/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col col-lg-8">
                <h1 class="title">Сайт знакомств для людей с ограниченными возможностями и для участников СВО</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6">
                <h2 class="subtitle">Добро пожаловать к нам для поиска друзей, товарищей по духу, любви!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-5">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="form__submit">Отправить</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-5 pt-5 text-center">
                <a href="{% url 'my_auth:registration' %}" class="reg-link form__link">Зарегистрироваться в системе</a>
            </div>
        </div>
    </div>
{% endblock %}