{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-3 order-lg-1 logo text-center text-lg-start">
                <a href="{% url 'my_auth:login' %}" class="logo__link">
                    <img src="{% static 'global/img/logo.png' %}" alt="logo" class="logo__img"/>
                </a>
            </div>

            <div class="col-12 col-lg-3 order-lg-3 footer__icons">
                <div class="footer__icon">
                    <a href="" class="footer__icon-link">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                </div>
                <div class="footer__icon">
                    <a href="" class="footer__icon-link">
                        <i class="fa-solid fa-comments"></i>
                    </a>
                </div>
                <div class="footer__icon">
                    <a href="" class="footer__icon-link">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6 order-lg-2 pt-lg-3 footer__policy text-center">
                <a href="" class="footer__policy-link">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>