{% extends 'social/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'social/css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'social/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col col-lg-8">
                <h1 class="title">Сайт знакомств для людей с ограниченными возможностями и для участников СВО</h1>
            </div>
        </div>
    </div>
{% endblock %}